@font-face {
    font-family: "SourGummy";
    src: url("/assets/fonts/SourGummy-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: "SourGummyItalic";
    src: url("/assets/fonts/SourGummy-Italic-VariableFont_wdth,wght.ttf");
}

$bg: #fafafa
$main: #101010
$red: #ff5050
$green: #50ff50
$blue: #5050ff
$yellow: #ffff50
$pink: #ff50ff
$cyan: #50ffff
$white: #ffffff
$black: #000000