@font-face
    font-family: "SourGummy"
    src: url("/assets/fonts/SourGummy-VariableFont_wdth,wght.ttf")


@font-face
    font-family: "SourGummyItalic"
    src: url("/assets/fonts/SourGummy-Italic-VariableFont_wdth,wght.ttf")


$bg: #fafafa
$main: #101010
$red: #ffbbbb
$redi: #ff5050
$green: #bbffbb
$blue: #5050ff

body
    padding: 0
    margin: 0
    background-color: $bg
    color: $main
    font-family: "SourGummy"
    font-size: 18px
    overflow-x: hidden
    overflow-y: hidden

a
    color: $main
    text-decoration: none
    font-family: "SourGummyItalic"
    font-size: 18px

button
    background-color: $main
    color: $bg
    cursor: pointer

header
    height: 100px
    width: 100vw
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: row

    img
        height: 75px
        width: 75px

    span
        font-size: 75px

footer
    height: 100px
    width: 100vw
    display: flex
    align-items: center

    button
        height: 75px
        width: 75px
        background-color: $main
        color: $bg
        border: none
        border-radius: 100px
        cursor: pointer
        margin-right: 12.5px
        margin-left: 12.5px

main
    height: calc( 100vh - 200px )
    width: 100vw
    display: flex
    flex-direction: row

.start
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: calc(100vh - 150px)
    width: 100vw

    button
        font-family: "SourGummy"
        font-size: 75px
        margin: 100px
        padding: 12.5px
        border: none
        border-radius: 21.875px
        background-color: $main
        color: $bg
        cursor: pointer

.title
    font-size: 125px

.french_title
    font-size: 50px
    font-family: "SourGummyItalic"

.r
    color: $redi

.b
    color: $blue

.overlay
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 1000
    display: flex
    justify-content: center
    align-items: flex-end
    pointer-events: none

.semi-circle
    height: 200px
    width: 400px
    border-radius: 200px 200px 0 0
    background-color: $blue
    -webkit-box-shadow: 0px -50px 50px 0px rgba(16,16,16,0.25)
    box-shadow: 0px -50px 50px 0px rgba(16,16,16,0.25)
    pointer-events: auto

.site
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 50%

.german
    background-color: $green

.french
    background-color: $red