@font-face
    font-family: "SourGummy"
    src: url("/assets/fonts/SourGummy-VariableFont_wdth,wght.ttf")


@font-face
    font-family: "SourGummyItalic"
    src: url("/assets/fonts/SourGummy-Italic-VariableFont_wdth,wght.ttf")


$bg: #fafafa
$main: #101010
$red: #ffbbbb
$green: #bbffbb
$blue: #5050ff

body
    padding: 0
    margin: 0
    background-color: $bg
    color: $main
    font-family: "SourGummy"
    font-size: 18px
    overflow-x: hidden
    overflow-y: hidden

a
    color: $main
    text-decoration: none
    font-family: "SourGummyItalic"
    font-size: 18px

button
    background-color: $main
    color: $bg

header
    height: 100px
    width: 100vw
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: row
    padding: 25px

    img
        height: 100px
        width: 100px

    span
        font-size: 100px

footer
    height: 150px
    width: 100vw
    padding: 25px

    button
        height: 100px
        width: 100px
        background-color: $main
        color: $bg
        border: none
        border-radius: 100px
        cursor: pointer
        margin-right: 25px
        margin-left: 25px

main
    height: calc( 100vh - 300px )
    width: 100vw
    display: flex
    flex-direction: row

.start
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: calc(100vh - 150px)
    width: 100vw

    span
        font-size: 250px
        font-family: "SourGummyItalic"
        margin: 50px

    button
        font-family: "SourGummyItalic"
        font-size: 125px
        margin: 50px
        padding: 25px
        border: none
        border-radius: 21.875px
        background-color: $main
        color: $bg
        cursor: pointer

.overlay
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 1000
    display: flex
    justify-content: center
    align-items: flex-end

.semi-circle
    height: 375px
    width: 750px
    border-radius: 375px 375px 0 0
    background-color: $blue

.site
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 50%

.german
    background-color: $green

.french
    background-color: $red